.show-mobile-nav {
  display: none;
}

.ignore {
  pointer-events: none;
}

.header-menu {
  color: #fff;
  text-align: center;
}

.header-divider::before {
  content: "";
  width: 1px;
  height: 50%;
  background-color: #bd0a0a;
  position: absolute;
  left: 0;
}

.main-nav > ul > li.header-icon {
  padding-left: 30px;
}

.main-nav > ul > li.header-icon > a > i {
  position: absolute;
  left: -15px;
  top: 5px;
}

.mobile-nav > ul > li.header-icon a {
  padding-left: 60px;
}

.mobile-nav > ul > li.header-icon > a > i {
  position: absolute;
  left: 21px;
  top: 5px;
}

.mobile-nav .show-mobile-nav {
  display: block;
}

.mt60 {
  margin-top: 60px;
}

.section-header h3 span {
  background-image: linear-gradient(
    transparent calc(85% - 6px),
    #bd0a0a calc(90% - 15px)
  );
  background-position-x: 4px;
  background-position-y: 2px;
  background-size: 66%;
  background-repeat: no-repeat;
  display: inline;
  transition: 0.5s ease;
  text-shadow: 2px 2px #fff;
}

.section-bg .section-header h3 span {
  text-shadow: 2px 2px #5a0404;
}

.section-bg-2 .section-header h3 span {
  text-shadow: 2px 2px #5a0404;
}

.logo-full:before {
  content: "";
  position: absolute;
  top: -20px;
  left: -100px;
  width: 70px;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  transform: skewX(-30deg);
  animation-name: slide;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 10%,
    rgba(255, 255, 255, 0.5) 42%,
    rgba(255, 255, 255, 0) 100%
  );
}

@keyframes slide {
  0% {
    left: -100;
    top: 0;
  }
  100% {
    left: 290px;
    top: 0;
  }
}

.mobile-nav a.reserve-btn {
  background-color: #5a0404;
  margin-top: 30px;
}

.main-nav a.reserve-btn {
  color: #fff !important;
  background-color: #c80404;
  border-radius: 3px;
  margin: 0 0 0 10px;
}

.main-nav .active > a.reserve-btn::after {
  display: none;
}
